**/node_modules
**/__mocks__
**/test
**/lib
**/.expo
.vs-code
.circleci
design
reference
.editorconfig
.gitlab-ci.yml
.huskyrc.json
CHANGELOG.md
README.md
docker-compose.yml
jest.config.yml
tsfmt.json
tslint.json
